In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("D:/Desktop/faketr.csv")

In [3]:
copy = data.copy()

In [4]:
copy.describe()

                 id         label
count  20800.000000  20800.000000
mean   10399.500000      0.500625
std     6004.587135      0.500012
min        0.000000      0.000000
25%     5199.750000      0.000000
50%    10399.500000      1.000000
75%    15599.250000      1.000000
max    20799.000000      1.000000

In [5]:
copy.isna().sum()

id           0
title      558
author    1957
text        39
label        0
dtype: int64

In [6]:

copy.dropna(subset = ["text"],inplace  = True)

In [7]:
copy.isna().sum()

id           0
title      558
author    1918
text         0
label        0
dtype: int64

In [8]:
copy.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [9]:
x = copy["text"].values
y = copy["label"].values
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.25 , random_state = 0)

In [10]:
print(y_test.shape)
print(x_test.shape)
print(x_train.shape)
y_train.shape

(5191,)
(5191,)
(15570,)

(15570,)

In [11]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [12]:
tf = TfidfVectorizer(stop_words="english" , max_df=0.7)
tf_train = tf.fit_transform(x_train)
tf_test = tf.transform(x_test)

In [13]:
tf_test.shape

(5191, 157311)

In [14]:
from sklearn.linear_model import PassiveAggressiveClassifier

In [15]:
pa = PassiveAggressiveClassifier()
pa.fit(tf_train,y_train)
pred  = pa.predict(tf_test)
print(accuracy_score(pred,y_test))

0.9605085725293778

In [16]:
dt = pd.read_csv("D:/Desktop/takete.csv")

In [17]:
dt.isna().sum()

id          0
title     122
author    503
text        7
dtype: int64

In [18]:
cp = dt.copy()

In [19]:

cp["text"] = cp["text"].fillna("missing")
cp.isna().sum()

id          0
title     122
author    503
text        0
dtype: int64

In [20]:
test_x = cp["text"].values
tf_x = tf.transform(test_x)
y_p = pa.predict(tf_x)

In [21]:
len(y_p)

5200

In [22]:
tf_x.shape

(5200, 157311)

In [23]:
repeat = pd.read_csv("D:/Desktop/submit.csv")
repeat.drop("label",inplace = True ,axis = 1)
repeat.insert(1,"label", y_p,True)
repeat.to_csv("fakenews.csv",index = False)